/* -------------------------------HEADER------------------------- */

#logo { 
    display:inline-block; 
    height:100px;
} 

h1 {
    font-family:'Questrial', sans-serif;
    font-weight: 1000;
    font-size: 40px;
}

#heading {
    display:inline-block;
    margin-right:10px;
}


header{
    display:flex;
    margin-left: 25px;
    font-family:'Questrial', sans-serif;
}

.title {
    text-align: center;
    font-size: 120px;
}



/*----------------------INPUT FIELDS-----------------------*/
.sign-up{
    position: absolute; 
    left: 25%;  
    width: 50%; 
    height: 700px; 
    background: rgb(240, 240, 240); 
    border: 4px solid rgb(220, 220, 220);
    border-radius: 5px;
}


.textbox {
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    position: relative;
    width: 50%;
    height: 5%;
    left: 10%;
    top: 15%;
    font-size: 25px;
  }

.redirect{
    position: relative;
    font-family: 'questrial';
    width: 50%;
    height: 20%;
    left: 35%;
    top: 70%
}

#username {
    position: relative;
    top: 10%;
    left: 25%;
}

#password {
    position: relative;
    top: 30%;
    left: 25%;
}

#zipcode {
    position: relative;
    top: 50%;
    left: 25%;
}

#submit {
    position: relative;
    top: 60%;
    text-align: center;
    left: 35%
}
  

/* -----------------SUBMISSION--------------------- */
.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 45px;
    color:rgb(0, 0, 0);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
    .button:hover{
        border-color: rgb(160, 215, 245);
    }
    @media all and (max-width:30em){
     .button{
        display:block;
        margin:0.2em auto;
    }
}


.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px green;
}




  /* -------------------------BACKGROUND-------------------- */
  body{
    background-color: rgb(223, 255, 223);
    font-family: 'questrial';
  }